.nosotros__title{
    font-family: $font-title;
}

body{
background-color: $background-color;
}

  
.nosotros__title{
  font-family: $font-title;
  text-align: center;
  font-size: 32px;
  color: $highlight-color ;
}

.nosotros__img{
  @include img();
  border-radius: 100%;
  object-fit: cover;
  box-shadow: $box-shadow;
}

.nosotros__text{
  text-align: center;
  font-family: $font-general;
  font-size: 18px;
}

.product__title{
  font-family: $font-title;
  text-align: center;
  font-size: 32px;
  color: $highlight-color;
}


/* .product__img{
  @include img();
  border-radius: 100%;
  padding-left: 10px;
} */

.navegador{
  padding-left: 10px;
  padding-right: 10px;
}
.product__galery{
  display: flex;
  flex-wrap: wrap;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  text-align: center;

}
.footer_items{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  background-color: rgb(240, 199, 146);
  padding: 10px
}
.carousel{
  width: 400px;
  }

  img2{
    height: 65vh;
    min-height: 300px
    
  }
  .card-img-top{
    width: 200px;
    height: 250px;
  }

  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .space{
    padding: 100px;
  }
  .carrusel{
    display: flex;
    justify-content: center;

  }
  .footer{
    padding-left: 10px;
    padding-right: 10px;
  
  }
  
